<md-table #table [dataSource]="dataSource">

  <!-- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container mdColumnDef="id">
    <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
    <md-cell *mdCellDef="let card"> {{card.id}} </md-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container mdColumnDef="name">
    <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
    <md-cell *mdCellDef="let card"> {{card.name}} </md-cell>
  </ng-container>

  <!-- DbfId Column -->
  <!-- <ng-container mdColumnDef="dbfId">
        <md-header-cell *mdHeaderCellDef> DbfId </md-header-cell>
        <md-cell *mdCellDef="let card"> {{card.dbfId}} </md-cell>
      </ng-container> -->

  <!-- Text Column -->
  <ng-container mdColumnDef="text">
    <md-header-cell *mdHeaderCellDef> Text </md-header-cell>
    <md-cell *mdCellDef="let card" [innerHTML]="card.text"></md-cell>
  </ng-container>
  <!-- Flavor Column -->
  <!-- Artist Column -->
  <!-- Attack Column -->
  <!-- CardClass Column -->
  <!-- Cost Column -->
  <!-- Elite Column -->
  <!-- Faction Column -->
  <!-- Health Column -->
  <!-- Mechanics Column -->
  <!-- Rarity Column -->

  <!-- Set Column -->
  <ng-container mdColumnDef="set">
    <md-header-cell *mdHeaderCellDef> Set </md-header-cell>
    <md-cell *mdCellDef="let card"> {{card.set}} </md-cell>
  </ng-container>
  <!-- Type Column -->

  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>

<md-paginator #paginator
  [length]="1344"
  [pageIndex]="0"
  [pageSize]="25"
  [pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>
